/* Reset básico e estilos globais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Container principal */
/* .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
} */

/* Estilos para o cabeçalho do perfil */
header.profile {
    padding: 20px;
    background: #1e1e1e;
    /* border-radius: 10px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Animação para o avatar */
.avatar-container {
    position: relative;
    display: inline-block;
    animation: float 4s ease-in-out infinite;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
    border: 5px solid #007bff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Estilos para o título principal */
h1 {
    font-size: 2.5em;
    margin: 10px 0;
    color: #ffffff;
}

/* Estilos para a tagline */
.tagline {
    font-size: 1.2em;
    color: #888;
}

/* Estilos para a navegação */
nav.links {
    background-color: #333;
    padding: 10px 0;
    margin: 20px 0;
    /* border-radius: 10px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav.links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.links ul li {
    display: inline;
    margin: 0 15px;
}

nav.links ul li a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav.links ul li a:hover {
    color: #007bff;
}

/* Estilos para as seções */
section {
    padding: 20px;
    background-color: #1e1e1e;
    /* border-radius: 10px; */
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffffff;
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #ddd;
}

/* Estilos para os projetos */
.project {
    position: relative;
    margin: 10px;
}

.project-image {
    position: relative;
    display: block;
    width: 300px;
    height: 200px;
    overflow: hidden;
    /* border-radius: 10px; */
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project-image:hover {
    transform: scale(1.05);
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.project-image:hover img {
    opacity: 0.8;
}

/* Estilos para a sobreposição do projeto */
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project:hover .project-overlay {
    opacity: 1;
}

.project-description {
    text-align: center;
    padding: 20px;
}

/* Estilos para o botão de visitar */
.btn-visit {
    display: inline-block;
    padding: 10px 20px;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-visit:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    font-weight: 400;
}

/* Estilos para o ícone do botão */
.btn-visit .icon {
    margin-left: 10px;
    font-size: 1.5rem;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 27px;
    color: #ffffff;
}

span.icon {
    margin-left: 5px;
}

/* Estilos para as seções de tecnologias */
.technologies {
    padding: 20px;
    background-color: #1e1e1e;
    /* margin: 20px 0; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
    overflow: hidden; /* Garante que o conteúdo não transborde */
}

.technologies h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
}

.technologies-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; /* Espaço reduzido entre as imagens */
    /* flex-wrap: wrap; Permite que as imagens quebrem a linha se necessário */
    /* Remove overflow-x para evitar barra de rolagem horizontal */
}

.technologies-images img {
    flex: 1 1 200px; /* Permite que as imagens se redimensionem conforme necessário */
    max-width: 25%; /* Ajusta a largura máxima para garantir que caibam no contêiner */
    height: auto; /* Altura automática para manter a proporção */
    border-radius: 10px; /* Borda arredondada opcional */
    transition: transform 0.3s ease; /* Transição suave no hover */
}

/* Efeito de zoom no hover */
.technologies-images img:hover {
    transform: scale(1.05);
}

/* Estilo para o hexágono */
.technologies-images img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Aumenta o contraste da sombra */
    clip-path: polygon(50% 0%, 91% 25%, 91% 75%, 50% 100%, 9% 75%, 9% 25%); /* Forma de hexágono */
    transform: scale(0); /* Começa com escala 0 */
    transition: transform 0.3s ease; /* Transição suave para o hover */
}

.technologies-images img:hover::before {
    transform: scale(1); /* Escala para 1 no hover */
}

/* Estilos para responsividade */
@media (max-width: 768px) {
    .technologies-images img {
        flex: 1 1 100px; /* Ajusta a largura mínima das imagens na versão mobile */
        max-width: 25%; /* Ajusta a largura máxima das imagens na versão mobile */
    }
}


/* Estilos adicionais */
.subtitle {
    font-size: 1.2em;
    color: #888;
    margin-bottom: 20px;
}

/* Estilos para responsividade */
@media (max-width: 768px) {
    .technologies-images {
        flex-wrap: nowrap; /* Impede que as imagens quebrem para a linha abaixo */
        /* overflow-x: auto; Adiciona scroll horizontal caso necessário */
    }
    .technologies-images img {
        margin-right: 5px; /* Espaço entre as imagens na versão mobile */
    }
}

/* Estilos adicionais */
.subtitle {
    font-size: 1.2em;
    color: #888;
    margin-bottom: 20px;
}

/* Estilos para responsividade */
@media (max-width: 768px) {
    .technologies-images img {
        width: 100%; /* Imagens ocupam 100% da largura */
        margin-bottom: 20px; /* Espaço entre as imagens na versão mobile */
    }
}
/* Estilos para a seção de contato */
.contact {
    padding: 20px;
    background-color: #1e1e1e;
    /* margin: 20px 0; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
    color: #fff; /* Cor do texto */
    text-align: left;
}

.contact h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.contact form {
    margin-top: 20px;
}

.contact form div {
    margin-bottom: 15px;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input, .contact textarea {
    width: 20%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    font-family: 'Roboto', sans-serif;
}

.contact button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos do rodapé */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
    font-size: 0.9em;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #0056b3;
}
/* Estilos adicionais */
.subtitle {
    font-size: 1.2em;
    color: #888;
    margin-bottom: 20px;
}

/* Estilos para responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .avatar {
        width: 120px;
    }
    .project-image {
        width: 100%;
        height: auto;
    }
    .technologies-images {
        /* flex-wrap: wrap; */
    }
    .technologies-images img {
        width: 80px;
    }
}